/* Container Styles */
.exercisesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  @media (min-width: 768px) {
    gap: 30px;
  }
}

/* Exercise Card */
.exerciseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  // Media Queries
  @media (min-width: 768px) {
    max-width: 400px;
  }
}

/* Name Container */
.nameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.exerciseName {
  margin: 0;
}

/* Info Icon */
.infoIconWrapper {
  position: relative;
  display: inline-block;

  .infoIcon {
    font-size: 14px;
    color: hsl(205, 79%, 50%);
    background-color: hsl(205, 79%, 90%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: hsl(205, 79%, 50%);
      color: white;
    }
  }
}

/* Description Tooltip */
.description {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 1;

  // Arrow below the tooltip
  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
}

// Show description on hover
.infoIconWrapper:hover .description {
  opacity: 1;
  visibility: visible;
}

.visualizationContainer {
  display: flex;
  padding: 10px;
}

/* Filter Container */
.filterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 100px;
  padding: 10px;

  // Media Queries
  @media (max-width: 878px) {
    flex-direction: column; /* Stack checkboxes on small screens */
    align-items: start;
    justify-self: center;
    gap: 10px;
  }

  @media (min-width: 768px) {
    flex-direction: row; /* Horizontal layout on larger screens */
  }
}

/* Checkbox Label */
.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #333;

  // Media Queries
  @media (max-width: 878px) {
    font-size: 14px; /* Smaller font for smaller screens */
  }

  input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid hsl(205, 79%, 50%);
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:checked {
      background-color: hsl(205, 79%, 50%);
      border-color: hsl(205, 79%, 50%);
    }

    // Media Queries
    @media (max-width: 878px) {
      width: 18px;
      height: 18px; /* Adjust size on smaller screens */
    }
  }
}

.favoriteButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &.favorite {
    color: red;
  }
}
