.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--background-color);
  border-top: 1px solid var(--card-border-color);
  transition:
    background-color 0.3s,
    color 0.3s;

  p {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    color: var(--text-color);

    .heart {
      display: inline-block;
      cursor: pointer;
      transition: transform 0.3s ease;

      &.clicked {
        transform: scale(1.5);
      }
    }
  }

  div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;

    a {
      display: inline-block;
      transition:
        transform 0.3s ease,
        color 0.3s ease;

      svg {
        transition: fill 0.3s ease;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
