body {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 145px;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @media (max-width: 878px) {
    margin-left: 10px;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid hsl(205, 79%, 40%);
}

main {
  flex: 1; /* Allow main content to grow and push footer to the bottom */
}
