body {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 145px;
  background-color: #f4f6f8;
  @media (max-width: 878px) {
    margin-left: 10px;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid hsl(205, 79%, 40%);
}
