.playButton {
  background-color: black;
  color: white;
  display: inline-block;
  width: 100px;
}

.pauseButton {
  background-color: black;
  color: white;
  display: inline-block;
  width: 100px;
}
