/* Sidebar Containers */
.navContainer {
  // Left Sidebar Container
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 150px;
  background-color: #f8f9fa;
  // background-color: #3d474d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 15;
  border-right: 1px solid #ddd;
}

.rightNavContainer {
  // Right Sidebar Container
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 15;

  &.open {
    transform: translateX(0); /* Show sidebar when 'open' class is added */
  }

  /* Position close button inside the sidebar */
  .closeIcon {
    position: absolute;
    top: 10px; /* Adjusted top to ensure it's always visible */
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20; /* Ensure the close button stays on top */
  }
}

/* Link Styles */
.navLink,
.navLinkTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  // color: #8a8c8e;
  font-weight: 800;
  font-size: 18px;
  transition: color 0.3s;
  margin-top: 30px; /* Increased space between icons */
  padding: 10px;

  &:hover {
    color: hsl(263, 90%, 61%);
  }

  span {
    margin-top: 8px; /* Space between icon and text in left sidebar */
  }

  .navText {
    margin-top: 5px; /* Space between icon and text in right sidebar (mobile) */
  }
}

/* Mode Switcher */
.navModeSwitcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  color: #333;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Hamburger Icon */
.hamburgerIcon {
  display: none;
  position: fixed;
  top: 6px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

/* Active Link Styling */
.activeLink {
  color: hsl(263, 90%, 51%);
  // color: white;
}

/* Icon Size */
.iconSize {
  font-size: 1.5rem;
}

/* Responsive Styling */
@media (max-width: 878px) {
  .navContainer {
    display: none;
  }

  .hamburgerIcon {
    display: block;
  }

  .overlay {
    display: block;
  }

  .rightNavContainer {
    width: 50%; // Adjust width for right sidebar on small screens
  }
}

@media (min-width: 878px) {
  .navContainer {
    display: flex;
  }

  .hamburgerIcon {
    display: none;
  }
}
