.inputFields {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: hsl(263, 90%, 51%);
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s;
  margin-bottom: 200px;

  &:hover {
    background-color: hsl(263, 90%, 41%);
  }
}

.animationContainer {
  background-color: var(--card-background-color);
  max-width: 550px;
}
