.editInput {
  width: 90%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #0070f3;
    outline: none;
  }
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.inputContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.input,
.subtaskInput {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.addButton {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
}

.taskList {
  width: 100%;
  max-width: 680px;
  list-style: none;
  padding: 0;
}

.taskItem {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 8px;
}

.subtaskCheckbox {
  margin-right: 8px;
  flex-shrink: 0;
}

.taskName {
  flex-grow: 1;
  cursor: pointer;
  background: none;
  padding: 4px 0;
  text-align: left;
  font-size: 16px;
  color: inherit;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
  border-radius: 4px;
  padding-left: 5px;

  &:hover {
    border: 2px solid #0070f3;
    border-radius: 4px;
    padding-left: 5px;
  }
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.subtaskList {
  list-style: none;
  padding: 0;
  margin-top: 4px;
}

.subtaskItem {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.subtaskName {
  flex-grow: 1;
  cursor: pointer;
  background: none;
  padding: 4px 0;
  text-align: left;
  font-size: 16px;
  color: inherit;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
  border-radius: 4px;
  padding-left: 5px;

  &:hover {
    border: 2px solid #0070f3;
    border-radius: 4px;
    padding-left: 5px;
  }

  &.completed {
    text-decoration: line-through;
    color: gray;
  }
}

.taskRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.deleteButton {
  margin-left: 8px;
  cursor: pointer;
  background: none;
  border: none;
  color: red;
}

.addSubtaskButton {
  cursor: pointer;
  background: none;
  border: none;
  color: blue;
}

.subtaskRow {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space out items */
  padding-left: 20px; /* Indentation */
}

.subtaskContainer {
  margin-top: 8px;
  padding-left: 35px; /* Indentation */
}

.dragHandle {
  cursor: grab;
  padding: 0 8px;
}

.checkbox {
  margin: 0 8px;
}
