.taskContainer {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.inputContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 3px;
}

.input,
.subtaskInput {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.addTaskButton {
  padding: 8px 12px;
  cursor: pointer;
  background-color: hsl(263, 90%, 51%);

  color: white;
  border: none;
  border-radius: 4px;
  width: 80px;
  transition: background-color 0.3s;

  &:hover {
    background-color: hsl(263, 90%, 51%);
  }
}

/* Task List */
.taskList {
  width: 100%;
  max-width: 680px;
  list-style: none;
  padding: 0;
}

/* Task Item */
.taskItem {
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 8px;
}

.taskName {
  flex-grow: 1;
  cursor: pointer;
  background: none;
  padding: 4px 0;
  text-align: left;
  font-size: 16px;
  color: inherit;
  transition: border-color 0.3s ease;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 5px;

  &:hover {
    border: 1px solid hsl(205, 79%, 50%);
  }
}

/* Edit Input Styles */
.editInput {
  width: 90%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: hsl(205, 79%, 50%);
    outline: none;
  }
}

.completed {
  text-decoration: line-through;
  color: gray;
}

/* Subtask List */
.subtaskList {
  list-style: none;
  padding: 0;
  margin-top: 4px;
}

.subtaskItem {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 4px;
}

/* Subtask Name */
.subtaskName {
  flex-grow: 1;
  cursor: pointer;
  background: none;
  padding: 4px 0;
  text-align: left;
  font-size: 16px;
  color: inherit;
  transition: border-color 0.3s ease;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 5px;

  &:hover {
    border: 1px solid hsl(205, 79%, 50%);
  }

  &.completed {
    text-decoration: line-through;
    color: gray;
  }
}

/* Task Row */
.taskRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Subtask Row */
.subtaskRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px; /* Indentation */
  width: 40%; /* Set width to align buttons */
}

.subtaskContainer {
  margin-top: 8px;
  padding-left: 35px;
}

/* Buttons */
.deleteButton {
  cursor: pointer;
  background: none;
  border: none;
  color: hsl(343, 85%, 44%);
  transition: color 0.3s;

  &:hover {
    color: hsl(343, 85%, 34%);
  }
}

.addSubtaskButton {
  cursor: pointer;
  margin-left: 8px;
  background: none;
  border: none;
  border-radius: 2px;
  color: hsl(205, 79%, 50%);
  transition: color 0.3s;
  transition: background-color 0.3s;

  &:hover {
    color: hsl(205, 79%, 60%);
  }
}

.addSubtaskInputButton {
  padding: 8px 12px;
  cursor: pointer;
  background-color: hsl(205, 79%, 50%);
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  transition: background-color 0.3s;

  &:hover {
    background-color: hsl(205, 79%, 60%);
  }
}

.moveButton,
.subtaskMoveButton {
  font-size: 1rem;
  border: none;
  margin: 2px;
  background-color: white;

  &:active {
    color: hsl(205, 79%, 50%);
  }
}

.iconSize {
  font-size: 1.2rem;
}

.subtaskCheckbox {
  margin-right: 8px;
  flex-shrink: 0;
}

// .dragHandle {
//   cursor: grab;
//   padding: 0 8px;
// }

.checkboxContainer {
  display: flex;
  align-items: center;
  margin: 0 8px; /* Spacing for the entire checkbox container */
}

.checkbox {
  /* Hide the checkbox but ensure it's still interactive */
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkboxLabel {
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative; /* Ensure pseudo-elements are positioned correctly */
}

.checkbox:checked + .checkboxLabel {
  background-color: #007bff;
  border-color: #007bff;
}

.checkbox:checked + .checkboxLabel::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Screen reader only text */
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
